* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

.li {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    margin-bottom: 70px;
    color: white;
}







.logofull {
    width: 200px;
}

.name {
    margin: auto;
}

.kr {

    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 20px;
}

.list1 {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 100%;
    color: white;

}

.li1 {

    list-style: none;
    padding: 10px;
    font-size: 22px;
    margin: 15px;
    color: white;
}



.list {
    width: 50%;

}




.li1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.name {
    width: 50%;
}



/*header vége*/




.bem {
    display: flex;
    justify-content: center;
}

.szoveg {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 100px;
    padding-right: 50px;
    font-size: 23px;
    justify-content: center;
}

.p1 {
    margin-top: 30px;
    margin-bottom: 40px;
}



.gomb {
    padding: 10px 15px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0.8;
}



.gomb:hover {
    opacity: 0.5;
    transition: 0.5s;

}

.kep {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

.kepp {
    width: 300px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.bem p {
    margin: 30px 0;
}

.bem li {
    list-style: none;
    padding: 5px;
}

.bem h3 {
    margin-bottom: 15px;
}

/* bemautatkozó vége */

.copycim {
    text-align: center;
    justify-content: center;
    background-color: #F0F0F0;
    margin-top: 100px;
    padding-top: 50px;

}

.copycim h1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.copycim2 {
    text-align: center;
    justify-content: center;
    background-color: #F0F0F0;
    padding-bottom: 30px;
}

.copycim2 h1 {
    margin-bottom: 20px;
}

.copycim2 p {
    margin-bottom: 10px;
    font-size: 22px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.doboz {

    background-color: #F0F0F0;

}

.balesjobb {
    display: flex;
    justify-content: center;
}

.bal,
.jobb {
    background-color: white;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.bal {
    margin-right: 30px;
}

.jobb {
    margin-left: 30px;
}


.bal h2,
.jobb h2 {
    text-align: center;
    margin-bottom: 40px;
    height: 30px;
    font-size: 23px;
}



.bal li,
.jobb li {
    list-style: none;
    font-size: 20px;
    padding: 10px;

}


.checkmark {
    color: green;
    font-size: 20px;
}

.doboz ul {
    margin-bottom: 10px;
}


.szoveg2 {
    margin-bottom: 100px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: white;

}

.serviceh3 {
    padding-bottom: 50px;
}

.serviceh1 {
    padding-top: 50px;
}

/* doboz vége */
.serviceh1 {
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}

.serviceh3 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.service {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
}

.service h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.service p {
    font-size: 23px;
}


.s1 {
    padding: 0 40px 0 0;
    width: 50%;

}



.s2 {
    padding: 0 0 0 40px;
    width: 50%;


}

.more {
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 15px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    opacity: 0.8;

}

.moregomb {
    text-decoration: none;
    color: white;
}

.more:hover {
    opacity: 0.5;
    transition: 0.5s;

}



.cont {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
}

.cont h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.cont li {
    list-style: none;
    font-size: 22px;
    margin: 20px 0;
}




.email {
    font-size: 27px;
    margin: 40px 0 0 0;
    padding: 0%;
}

.email p {
    font-size: 23px;
    margin-top: 20px;

}

.email h6 {
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
    opacity: 0.5;
    margin-top: 20px;
}

/* rolam */

.rolam {
    margin: 50px 100px;
    text-align: center;
}

.rolam p {
    font-size: 24px;
    padding: 20px 0;
    font-weight: bold;

}

.rolam h1 {
    font-size: 32px;
    margin: 20px 0;
}





/* footer */
.footer {
    margin-top: 75px;
    padding-bottom: 40px 0;
    padding-top: 40px;

}

.icons {
    justify-content: center;
    text-align: center;
    position: relative;
}

.icons a {
    padding: 0 20px;

}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: black;

}

.footer ul li a {
    text-decoration: none;
    color: black;

}

.footer ul li {
    display: inline-block;
    font-size: 22px;
    margin: 10px;
    color: black;


}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;

}

.flist li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



@media (min-width:350px) and (max-width:1000px) {
    .li1 {
        padding: 0%;
        margin: 5%;
        font-size: 22px;
    }

    .logofull {
        width: 150px;
    }

    .kr {
        font-size: 18px
    }

    .kep {
        padding: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 100%;
    }

    .bem {
        display: contents;
    }

    .szoveg {
        padding: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .szoveg22 {
        width: 90%;
        margin: auto;

    }

    .doboz,
    .balesjobb {
        display: block;
    }

    .bal,
    .jobb {
        width: 90%;
        margin-left: auto;
        box-shadow: none;
        margin-right: auto;
    }

    .rolam {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .rolamm {
        text-align: left;
    }

    .serviceh1,
    .serviceh3 {
        margin-bottom: 20px;
    }

    .service {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .s1,
    .s2 {
        padding: 0%;
        width: 100%;

    }

    .service h3 {
        padding-top: 50px;
    }

    .cont {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .email p {
        font-size: 16.5px;
    }

    .doboz {
        margin-top: 0;
        margin-bottom: 0;
    }



}