* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

.li {
    text-decoration: none;
    color: #000;
}

.nav {
    display: flex;
    background: linear-gradient(to bottom, rgb(0, 132, 255), rgb(0, 215, 206) 80%, white 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-bottom: 70px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.kr {

    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 20px;
}

.list1 {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 100%;

}

.li1 {

    list-style: none;
    padding: 10px;
    font-size: 22px;
    margin: 15px;
}



.list {
    width: 50%;

}




.li1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.name {
    width: 50%;
}


/*header vége*/




.bem {
    display: flex;
    justify-content: center;
}

.szoveg {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 100px;
    padding-right: 50px;
    font-size: 23px;
    justify-content: center;
}

.p1 {
    margin-top: 30px;
    margin-bottom: 40px;
}



.gomb {
    padding: 10px 15px;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}



.gomb:hover {
    opacity: 0.7;
    transition: 0.5s;

}

.kep {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

.kepp {
    height: 450px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.bem p {
    margin: 30px 0;
}

.bem li {
    list-style: none;
    padding: 5px;
}

.bem h3 {
    margin-bottom: 15px;
}

/* bemautatkozó vége */

.copycim {
    text-align: center;
    justify-content: center;
    background-color: #F0F0F0;
    margin-top: 100px;
    padding-top: 50px;

}

.copycim h1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.copycim2 {
    text-align: center;
    justify-content: center;
    background-color: #F0F0F0;
    padding-bottom: 30px;
}

.copycim2 h1 {
    margin-bottom: 20px;
}

.copycim2 p {
    margin-bottom: 10px;
    font-size: 22px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.doboz {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;

}

.bal,
.jobb {
    background-color: white;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.bal {
    margin-right: 30px;
}

.jobb {
    margin-left: 30px;
}


.bal h2,
.jobb h2 {
    text-align: center;
    margin-bottom: 40px;
    height: 30px;
    font-size: 23px;
}



.bal li,
.jobb li {
    list-style: none;
    font-size: 20px;
    padding: 10px;

}


.checkmark {
    color: green;
    font-size: 20px;
}

.doboz ul {
    margin-bottom: 10px;
}

/* doboz vége */
.serviceh1 {
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}

.serviceh3 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.service {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
}

.service h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.service p {
    font-size: 23px;
}


.s1 {
    padding: 0 40px 0 0;
    width: 50%;

}



.s2 {
    padding: 0 0 0 40px;
    width: 50%;


}

.more {
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
    border: none;

}

.moregomb {
    text-decoration: none;
    color: white;
}

.more:hover {
    opacity: 0.7;
    transition: 0.5s;

}




.cont {
    margin-left: 100px;
    margin-top: 100px;
}

.cont h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.cont li {
    list-style: none;
    font-size: 22px;
    margin: 20px 0;
}


.emailp {
    padding: 40px 0;
    font-size: 27px;
}

/* rolam */

.rolam {
    margin: 50px 100px;
}

.rolam p {
    font-size: 24px;
    padding: 20px 0;
    font-weight: bold;

}

.rolam h1 {
    font-size: 32px;
    margin: 20px 0;
}





/* footer */
.footer {
    margin-top: 75px;
    padding-bottom: 40px 0;
    padding-top: 40px;

}

.icons {
    justify-content: center;
    text-align: center;
    position: relative;
}

.icons a {
    padding: 0 20px;

}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: black;

}

.footer ul li a {
    text-decoration: none;

}

.footer ul li {
    display: inline-block;
    font-size: 22px;
    margin: 10px;

}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;

}

.flist li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}