* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}




.nav {
    display: flex;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    margin-bottom: 70px;
    color: white;
}

.logofull {
    width: 200px;
}

.name {
    margin: auto;
}

.kr {

    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 20px;
}

.list1 {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 100%;

}

.li1 {

    list-style: none;
    padding: 10px;
    font-size: 22px;
    margin: 15px;
    color: white;
}



.list {
    width: 50%;

}

.li {
    text-decoration: none;
    color: white;
}


.li1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.name {
    width: 50%;
}

/* header vége*/

.nagydoboz {
    width: 90%;
    margin: auto;
}

.kep1,
.kep2 {
    width: 90%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    margin: auto;
}



.doboz1 {
    display: flex;
    margin-bottom: 100px;
}

.doboz1bal {
    width: 60%;
}

.doboz1jobb {
    width: 40%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.listt {
    margin: 0 0 20px 20px;
}

.doboz2 {
    display: flex;
}

.doboz2bal {
    width: 40%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.doboz2jobb {
    width: 60%;
    padding-left: 100px;

}




.cim {
    padding: 20px 20px 20px 0px;
}

.pszoveg {
    font-size: 22px;
    padding-bottom: 20px;
}

.elem {
    list-style: square;
    padding: 8px 8px 8px 0;
    font-size: 20px;
}





/* doboz vége */

.footer {
    margin-top: 75px;
    padding-bottom: 40px 0;
    padding-top: 40px;

}

.icons {
    justify-content: center;
    text-align: center;
    position: relative;
}

.icons a {
    padding: 0 20px;

}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: black;

}

.footer ul li a {
    text-decoration: none;
    color: black;

}

.footer ul li {
    display: inline-block;
    font-size: 22px;
    margin: 10px;

}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;

}

.flist li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

@media (min-width:350px) and (max-width:1000px) {
    .list1 {
        display: block;

    }

    .li {
        font-size: 20px;
    }

    .logofull {
        width: 175px;
    }

    .li1 {
        margin: 5% 5% 0 0;
        padding: 0%;
    }

    #liutolso {
        margin-bottom: 15px;
    }

    .kr {
        font-size: 18px;
    }

    .nagydoboz {
        display: block;
    }

    .doboz1,
    .doboz2 {
        display: block;
    }

    .doboz1bal,
    .doboz2bal,
    .doboz1jobb,
    .doboz2jobb {
        width: 80%;
        margin: auto;
        padding: 0%;
    }

    #kepx,
    #kepy {
        display: none;
    }

    .doboz1bal {
        margin-bottom: 50px;
    }

    #rewrites {
        margin-top: 50px;
    }

    .kep1,
    .kep2 {
        width: 100%;
    }
}